.Bienvenida {

	text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

.table {
    width: 128%;
    max-width: 133%;
    margin-bottom: 20px;
    position: absolute;
    left: 2%;
    top: -60%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {color: white;}
    25%  {color: gray;}
    50%  {color: darkgray;}
    100% {color: black;}
}

/* Standard syntax */
@keyframes example {
    0%   {color: white;}
    25%  {color: gray;}
    50%  {color: darkgray;}
    100% {color: black;}
}

img{

  margin-right:80%;
  width:50%;
}

h5{

  color:white;
  margin-top:-9%;
  right: 10%;
}
input{
  border-radius: 4px;

}
.container {
      padding: 80px 9px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
.person:hover {
      border-color: #f1f1f1;
  }
.carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */
      width: 100%; /* Set width to 100% */
      margin: auto;
}
.carousel-caption h3 {
      color: #fff !important;
			font-size: 51px;
    	position: absolute;
    	left: 53%;
    	top: -184%;
  }


	.carousel-caption img {
			width: 7%;
	    position: absolute;
	    left: 1%;
	    top: -133%;
	}


.carousel-caption h2 {
    width: 49%;
    font-size: 150%;
    position: absolute;
    left: -10%;
    top: -133%;
}

.carousel-caption {
      right: 26%;
      left:9%;
      padding-bottom:0%;
      position:fixed;
    }

  @media (max-width: 600px) {
.carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
.bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
.bg-1 h3 {
    color: #fff;
    }
.bg-1 p {
    font-style: italic;
    }
.list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
.list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
.thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
.thumbnail p {
      margin-top: 15px;
      color: #555;
  }

  .botonimagen{
  background-image:url(gmaps.png);
  color:transparent;
  border-radius:15%;
}
.btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;

  }
.btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #2d2d30;
      color: black;
  }
.modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
.modal-header, .modal-body {
      padding: 40px 50px;
  }
.nav-tabs li a {
      color: #2d2d30;
  }
#googleMap {
      width: 100%;
      height: 400px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }
.navbar {
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 16px !important;
      letter-spacing: 4px;
      opacity: 1.1;
  }
.navbar li a, .navbar .navbar-brand {
      color: lightgreen !important;
  }
.navbar-nav li a:hover {
      color: white !important;
  }
.navbar-nav li.active a {
      color: red !important;
      background-color: blue !important;
  }
  .navbar li a, .navbar .navbar-brand {
        color: lightgreen !important;
    }
  .navbar-nav li a:hover {
        color: white;
        background-color: #2d2d30 !important;
    }

  .navbar-default .navbar-toggle {
        border-color: transparent;
    }

    /* Color al clickear el nav bar */
  .open .dropdown-toggle {
        color: white !important;
        background-color: #2d2d30 !important;
    }

  .dropdown-menu li a {
        color:white !important;
    }
  .dropdown-menu li a:hover {
        background-color: black !important;
    }
    .dropdown-menu{
      background-color: #2d2d30;
      opacity: 1.1;
    }
  .carousel-caption form {
      right: 20%;
      left: 5%;
      padding-bottom: 3%;
  }
